:root {
    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--light-gray);
}

main {
    max-width: 35rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 8px 24px 2px rgb(0 0 0 / 0.2);
}

.join, .desc-left, .desc-right {
    padding: 2rem;
}

.join {
    background-color: white;
}

.join > h1 {
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.guarantee {
    color: var(--bright-yellow);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 0.8rem;
}

.join-desc {
    color: var(--grayish-blue);
    font-size: 0.9rem;
}

.desc {
    color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.desc-left {
    background-color: var(--cyan);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    font-size: 1rem;
    font-weight: 700;
}

.sub-price {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.sub-desc {
    font-size: 0.9rem;
}

.price {
    font-size: 1.9rem;
    font-weight: 700;
}

.per-month {
    opacity: 0.5;
    font-size: 0.9rem;
}

.desc-right {
    background-color: hsl(179, 53%, 54%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sign-up {
    background-color: var(--bright-yellow);
    border-radius: 8px;
    border: none;
    padding: 1rem;
    color: white;
    box-shadow: 4px 4px 12px 0 rgb(0 0 0 / 0.2);
}

.why-desc {
    font-size: 0.8rem;
    opacity: 0.8;
    line-height: 1.1rem;
}

@media screen and (max-width: 960px) {
    body {
        padding: 2rem;
    }

    .desc {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}